# Ignore virtual environment directory (venv/)
venv/

# Ignore pycache files
__pycache__/

# Ignore IDE-specific files and directories
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
*.pyo
.env